@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Roboto:wght@900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
	font-family: 'Bruno Ace', cursive;
}

h2 { 
	font-family: 'proxima-nova-condensed', sans-serif;

}

body, html {
    margin: 0;
    padding: 0;
}